<!DOCTYPE html>
<html>
<head>
	<title>Tax Calculation</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<label>Marital Status: </label>
		<br>
		<input type="radio" name="marital_status" value="single" checked> Single / Separated / Divorced / Widowed<br>
		<input type="radio" name="marital_status" value="married"> Married<br>

		<br><br>

		<label>Personal Income (Annual): </label>
		<input id="personal-income" type="text" name="personal-income">
		<br>
		<label>Personal Allowance: </label>
		<input id="personal-allowance" type="text" name="personal-allowance" value="132000" disabled>



		<br><br>
		<button id="enter-btn" onclick="calculate()">Enter</button>

		<hr>
		<h3>Result</h3>
		<label>Annual MPF: </label>
		<p id="mpf-result"></p>

		<br><br>
		<table style="width: 60%; height: auto;" border="1" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<th style="width: 25%;">&nbsp;</th>
					<th style="text-align: center; width: 25%;">
						<p><strong>Net chargeable Income</strong></p>
					</th>
					<th style="text-align: center; width: 25%;">
						<p><strong>Rate</strong></p>
					</th>
					<th style="text-align: center; width: 25%;">
						<p><strong>Tax</strong></p>
					</th>
				</tr>
				<tr>
					<th style="width: 25%;">&nbsp;</th>
					<th style="text-align: center; width: 25%;">
						<p>$</p>
					</th>
					<th style="text-align: center; width: 25%;">&nbsp;</th>
					<th style="text-align: center; width: 25%;">
						<p>$</p>
					</th>
				</tr>
				<tr>
					<td style="width: 25%;">On the First</td>
					<td style="text-align: right; width: 25%;">50,000</td>
					<td style="text-align: right; width: 25%;">2%</td>
					<td style="text-align: right; width: 25%;">1,000</td>
				</tr>
				<tr>
					<td style="width: 25%;">On the Next</td>
					<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">50,000</span></td>
					<td style="text-align: right; width: 25%;">6%</td>
					<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">3,000</span></td>
				</tr>
				<tr>
					<td style="width: 25%;">&nbsp;</td>
					<td style="text-align: right; width: 25%;">100,000</td>
					<td style="text-align: right; width: 25%;">&nbsp;</td>
					<td style="text-align: right; width: 25%;">4,000</td>
				</tr>
				<tr>
					<td style="width: 25%;">On the Next</td>
					<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">50,000</span></td>
					<td style="text-align: right; width: 25%;">10%</td>
					<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">5,000</span></td>
				</tr>
				<tr>
					<td style="width: 25%;">&nbsp;</td>
					<td style="text-align: right; width: 25%;">150,000</td>
					<td style="text-align: right; width: 25%;">&nbsp;</td>
					<td style="text-align: right; width: 25%;">9,000</td>
				</tr>
				<tr>
					<td style="width: 25%;">On the Next</td>
					<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">50,000</span></td>
					<td style="text-align: right; width: 25%;">14%</td>
					<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">7,000</span></td>
				</tr>
				<tr>
					<td style="width: 25%;">&nbsp;</td>
					<td style="text-align: right; width: 25%;">200,000</td>
					<td style="text-align: right; width: 25%;">&nbsp;</td>
					<td style="text-align: right; width: 25%;">16,000</td>
				</tr>
				<tr>
					<td style="width: 25%;">Remainder</td>
					<td style="text-align: right; width: 25%;">&nbsp;</td>
					<td style="text-align: right; width: 25%;">17%</td>
					<td style="text-align: right; width: 25%;">&nbsp;</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">

	var radios = document.querySelectorAll('input[type=radio][name="marital_status"]');

	function changeHandler(event) {
	    if (this.value == 'single') {
			document.getElementById("personal-allowance").value = 132000;
	   	} else if (this.value == 'married') {
			document.getElementById("personal-allowance").value = 264000;
	   	}
	}

	Array.prototype.forEach.call(radios, function(radio) {
	   radio.addEventListener('change', changeHandler);
	});

	function calculate() {
		var personal_income = document.getElementById('personal-income').value;
		console.log(personal_income)

		document.getElementById("mpf-result").innerHTML = calculateMPF(personal_income);
	}

	function calculateMPF(personal_income) {
		if (personal_income < 7100) {
			return 0 * 12
		} else if (personal_income <= 30000) {
			return personal_income * 0.05 * 12
		} else {
			return 1500 * 12
		}
	}




	// Press enter will calculate
	var input = document.getElementsByTagName("BODY")[0];

	input.addEventListener("keyup", function(event) {
	  // Number 13 is the "Enter" key on the keyboard
	  if (event.keyCode === 13) {
	    // Cancel the default action, if needed
	    event.preventDefault();
	    // Trigger the button element with a click
	    document.getElementById("enter-btn").click();
	}
});
</script>
