<!DOCTYPE html>
<html>
<head>
	<title>Tax Calculation</title>
</head>
<body>
	<label>Personal Income: </label>
	<input id="personal-income" type="text" name="personal-income">

	<!-- <div onclick="calculate()">Enter</div> -->
	<button onclick="calculate()">Enter</button>

<br><br>
	<div class="blockTable"><table style="width: 60%; height: auto;" border="1" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<th style="width: 25%;">&nbsp;</th>
				<th style="text-align: center; width: 25%;">
					<p><strong>Net chargeable Income</strong></p>
				</th>
				<th style="text-align: center; width: 25%;">
					<p><strong>Rate</strong></p>
				</th>
				<th style="text-align: center; width: 25%;">
					<p><strong>Tax</strong></p>
				</th>
			</tr>
			<tr>
				<th style="width: 25%;">&nbsp;</th>
				<th style="text-align: center; width: 25%;">
					<p>$</p>
				</th>
				<th style="text-align: center; width: 25%;">&nbsp;</th>
				<th style="text-align: center; width: 25%;">
					<p>$</p>
				</th>
			</tr>
			<tr>
				<td style="width: 25%;">On the First</td>
				<td style="text-align: right; width: 25%;">40,000</td>
				<td style="text-align: right; width: 25%;">2%</td>
				<td style="text-align: right; width: 25%;">800</td>
			</tr>
			<tr>
				<td style="width: 25%;">On the Next</td>
				<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">40,000</span></td>
				<td style="text-align: right; width: 25%;">7%</td>
				<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">2,800</span></td>
			</tr>
			<tr>
				<td style="width: 25%;">&nbsp;</td>
				<td style="text-align: right; width: 25%;">80,000</td>
				<td style="text-align: right; width: 25%;">&nbsp;</td>
				<td style="text-align: right; width: 25%;">3,600</td>
			</tr>
			<tr>
				<td style="width: 25%;">On the Next</td>
				<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">40,000</span></td>
				<td style="text-align: right; width: 25%;">12%</td>
				<td style="text-align: right; width: 25%;"><span style="text-decoration: underline;">4,800</span></td>
			</tr>
			<tr>
				<td style="width: 25%;">&nbsp;</td>
				<td style="text-align: right; width: 25%;">120,000</td>
				<td style="text-align: right; width: 25%;">&nbsp;</td>
				<td style="text-align: right; width: 25%;">8,400</td>
			</tr>
			<tr>
				<td style="width: 25%;">Remainder</td>
				<td style="text-align: right; width: 25%;">&nbsp;</td>
				<td style="text-align: right; width: 25%;">17%</td>
				<td style="text-align: right; width: 25%;">&nbsp;</td>
			</tr>
		</tbody>
	</table></div>



</body>
</html>

<script type="text/javascript">
	function calculate() {
		var personal_income = document.getElementById('personal-income').value;
		console.log(personal_income)
	}
</script>